---
layout: default
---

<style>
  .post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .post-image {
      flex: 1; /* Smaller part of the golden ratio */
      max-width: 50%;
  }
  
  h1 {
      font-size: 1.25rem; /* Smaller title */
  }
  
  .entry {
      font-size: 0.875rem; /* Smaller text for summary */
  }

  .content {
    flex: 1.618;
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    .post {
      flex-direction: column;
      align-items: center;
    }

    .post-image {
      max-width: 75%;
      order: 2; /* Puts the image below the content on small screens */
      display: flex;
      justify-content: center; /* Center the image within the post-image div */
    }

    .content {
      order: 1;
      margin-right: 0;
      width: 95%;
    }
  }
  .pagination a, .pagination span {
    font-size: 0.875rem;
  }
</style>

<div class="posts">
  {% for post in paginator.posts %}
    {% unless post.hidden %}
      <article class="post">
        <div class="content">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <h1>{{ post.title }}</h1>
          </a>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
          <div class="entry">
            {{ post.excerpt }}
          </div>
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>
        {% if post.image %}
        <div class="post-image">
          <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title | escape }}" style="width: 100%; height: auto;">
        </div>
        {% endif %}
      </article>
    {% endunless %}
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
